/* Big tablets to 1200px (width less than 1140px */
@media only screen and (max-height: 500px){
	.logo {
		float: right;
		margin-top: -10%;
	}
}

@media only screen and (max-width: 1200px){

	body {
		font-size: 85%;
	}

	.city-pictures-section {
		width: 95%;
		padding-left: 5%; 
	}

	.started-box {
		font-size: 115%;
	}	

	.next-step:first-child {
		margin-top: 30px;
	}

	.download-button {
		margin-left: 10%;
	}

	.row {
		padding: 0 5%;
	}
}

/* Small tablet to big tablets range 768 to 1023px */
@media only screen and (max-width: 1023px){

	body {
		font-size: 80%;
	}

	.logo {
		width: 25%;
		height: auto;
		padding-top: 15%;
		padding-left: 5%;
	}

	.title-label{
		font-size: 95%;
		padding-left: 15%;
	}

	cite {
		width: 130%;
		height: auto;
	}
}

/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px){

	body {
		font-size: 80%;
	}

	.title-label {
		margin-left: 12%;
	}

	.logo {
		width: 40%;
	}

	.main-navigation {
		display: none;
	}

	cite {
		width: 85%;
		height: auto;
	}	

	cite p {
			font-size: 115%;
	}

	header {
		background-attachment: scroll;
	}
}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 479px){

	body {
		font-size: 70%;
	}

	.row {
		padding: 0 5%;
	}

	cite {
		width: 100%;
	}

	.started-box {
		font-size: 110%;
	}

	.title-label{
		font-size: 85%;
		margin-left: 15%;
	}

	.logo {
		width: 50%;
	}

	header {
		background-size: 100%;
		background-attachment: scroll;
	}
}