/* Big tablets to 1200px (width less than 1140px */
@media only screen and (max-height: 480px){
	header nav .logo {
		width: 15%;
		margin-top: 2%;
		margin-left: -3%;
	}

	body .title-label {
		margin-left: -3%;
	}
}

@media only screen and (max-width: 1200px){

	body {
		font-size: 85%;
	}

	.city-pictures-section {
		width: 95%;
		padding-left: 5%; 
	}

	.started-box {
		font-size: 115%;
	}	

	.next-step:first-child {
		margin-top: 30px;
	}

	.download-button {
		margin-left: 10%;
	}

	.row {
		padding: 0 5%;
	}
}

/* Small tablet to big tablets range 768 to 1023px */
@media only screen and (max-width: 1023px){

	body {
		font-size: 80%;
	}

	.logo {
		width: 25%;
		height: auto;
		padding-top: 10%;
		padding-left: 5%;
	}

	.title-label{
		font-size: 95%;
		padding-left: 15%;
	}

	body .cite {
		width: 130%;
		height: auto;
	}
}

/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px){

	body header,
	body .section-reviews {
		background-attachment: scroll;
	}

	body {
		font-size: 80%;
	}

	.title-label {
		margin-left: 7%;
		margin-top: 6%;
	}

	.logo {
		width: 40%;
	}

	body .cite {
		width: 85%;
		height: auto;
	}	

	body .cite p {
			font-size: 115%;
	}
	
	header .logo {
		width: 30%;
		margin: 0;
		padding: 0;
		margin-top: 5%;
	}

	nav .main-nav-icon{
		display: inline-block;
		margin-top: 3%;
	}

	nav .main-navigation {
		display: none;
		margin-top: 7%;
	}

	nav .main-navigation li{
		display: block;
		padding-top: 4%;
	}

	nav .main-navigation li a:link,
	nav .main-navigation li a:visited{
		display: block;
		border: 0;
		font-size: 130%;
		padding-bottom: 10px;
	}
	
	.sticky-nav .main-nav-icon i{
		color: #000;
	}
	
	header .sticky-nav .main-navigation {
		margin-top: 15%;
	}

	header .sticky-nav .dark-logo {
		display: block;
		width: 15%;
		margin: 1% 0;
		margin-bottom: 2%;
		transition: margin 0.3s;
		-webkit-transition: margin 0.3s;
		-moz-transition: margin 0.3s;
		-ms-transition: margin 0.3s;
		-o-transition: margin 0.3s;
}

	header .sticky-nav .sticky-dark-logo.dark-logo {
		display: block;
		width: 30%;
		margin: 4% 0;
		margin-bottom: 50%;
	}

	body .section-get-started .cow-move {
		margin-top: -15%;
		padding-right: 0;
	}

	body .next-step{
		font-size: 115%;
		margin-top: 25px;
	}
}

/* Small phones from 0 to 479px */
@media only screen and (max-width: 479px){

	body {
		font-size: 70%;
	}

	.row {
		padding: 0 5%;
	}

	body .cite {
		width: 100%;
	}

	.started-box {
		font-size: 110%;
	}

	.title-label{
		font-size: 85%;
		margin-left: -4%;
		margin-top: 8%;
	}

	body .btn.btn-full.download-button {
		font-size: 120%;
		margin-left: 15%;
		/* margin-top: -20%; */
	}
}