/* ------------------------------------------------ */
/* All Components */
/* ------------------------------------------------ */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color:rgba(255, 255, 255);
  color: rgb(58, 58, 58);
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

/* ------------------------------------------------ */
/* Features Design */
/* ------------------------------------------------ */
.section-features {
  padding: 80px 0px;
}

.box {
  padding: 1%
}

.section-features h2 {
  font-size: 200%;
  text-align: center;
  font-weight: 350;
  word-spacing: 10px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}

.section-features h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;;
  content: " " ;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px
}

.section-features h3 {
  font-size: 120%;
  font-weight: 400;
  text-align: center;
  word-spacing: 4px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.section-features p {
  font-size: 95%;
  line-height: 145%;
  font-weight: 300;
  letter-spacing: 0.1px;
  word-spacing: 1px;
  text-align: center;
} 

.section-features i {
  font-size: 400%;
  display: block;
  color: #e67e22;
  margin: 4px;
  text-align: center;

}

/* ------------------------------------------------ */
/* Header */
/* ------------------------------------------------ */

header{
  background-image: linear-gradient(rgba(5, 5, 40, 0.5), rgba(5, 5, 40, 0.5)), url(img/Beach.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

h1{
  margin: 0;
  font-size: 450%;
  font-weight: 500;
}

.moto{
  padding-left: 17px;
  text-align: left;
  font-style: italic;
  font-size: 150%;
  word-spacing: 15px;
  letter-spacing: 1px;
}

.title-label{
  position: absolute;
  color: white;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}

/* ------------------------------------------------ */
/* Button Design */
/* ------------------------------------------------ */

.btn:link,
.btn:visited{
  display: inline-block;
  padding: 8px 15px;
  margin: 15px 5px 0px 15px;
  border-radius: 200px;
  border: 2px solid #f39c12;
  text-decoration: none;
  font-size: 100%;
  font-weight: 500;
  transition: color 0.2s;
}

.btn-full:link,
.btn-full:visited{
  background-color: #f39c12;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
  background-color: transparent;
  color: #f39c12;
}

.btn:hover,
.btn:active{
  border: 2px solid #e67e22;
  background-color: #e67e22;
  color: #fff;
}

/* ------------------------------------------------ */
/* Logo, Navigation Design */
/* ------------------------------------------------ */

.logo{
  margin-top: 20px;
  margin-left: 12%;
  height: 100px;
  width: auto;
  float: left;
}

.main-navigation{
  float: right;
  list-style: none;
  position: absolute;
  top: 7%;
  right: 7%;
}

.main-navigation li{
  display: inline-block;
  margin-left: 35px;
}

.main-navigation li a:link, 
.main-navigation li a:visited{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 0.2px;
  font-size: 90%;
  padding-bottom: 3.5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-navigation li a:hover, 
.main-navigation li a:active{
  border-bottom: 2px solid #e67e22;
}